/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Background Image */
.image {
    background-image: url('contact.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 1;
}

.image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: inherit; /* Inherits the background image */
    background-size: inherit;
    background-position: inherit;
    background-repeat: inherit;
    filter: blur(6px); /* Adjust the blur radius as needed */
    z-index: -1; /* Ensure the blur effect is behind the content */
}

/* Contact Container */
.contact-container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    position: relative;
    z-index: 2;
    
}

h1 {
    color :wheat;
    margin-bottom: 20px;
    font-size: 2em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

p {
    color: honeydew;
    margin-bottom: 30px;
}

/* New Contact Info Section */
.contact-info p {
    color: white;
    font-size: 1.2em;
    margin-bottom: 30px;
}

.contact-number {
    color: #e8491d;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.contact-number:hover {
    color: #ffffff;
}

/* Contact Button */
.contact-btn {
    background-color: #e8491d;
    color: #ffffff;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
    transition: background-color 0.3s;
}

.contact-btn:hover {
    background-color: black;
}
